Data frame

In [1]:
import numpy  as np

import pandas as pd

student = pd.DataFrame({
    'Name': ['Tareq', 'Ali', 'Sara', 'Hassan', 'Hanan', 'Hadi','alamin','sakil','sabbir'],
    'Age': [20, 21, 22, 23, 24, 25,26,27,28],
    'id': [1, 2, 3, 4, 5, 6,7,8,9],
    'GPA': [3.5, 3.6, 3.7, 3.8, 3.9, 4.0,4.1,4.2,4.3],
    'Department': ['CSE', 'EEE', 'BBA', 'CSE', 'EEE', 'BBA','CSE','EEE','BBA']})
print(student)

     Name  Age  id  GPA Department
0   Tareq   20   1  3.5        CSE
1     Ali   21   2  3.6        EEE
2    Sara   22   3  3.7        BBA
3  Hassan   23   4  3.8        CSE
4   Hanan   24   5  3.9        EEE
5    Hadi   25   6  4.0        BBA
6  alamin   26   7  4.1        CSE
7   sakil   27   8  4.2        EEE
8  sabbir   28   9  4.3        BBA

In [2]:
student.head(3)

    Name  Age  id  GPA Department
0  Tareq   20   1  3.5        CSE
1    Ali   21   2  3.6        EEE
2   Sara   22   3  3.7        BBA